/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.idea
*.log
/public/hot
/public/storage
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
npm-debug.log
yarn-error.log
/.vscode
/.phpunit.result.cache
/.env.backup
